.user-tabs img {
  width: 50px;
}
.account-info {
  display: none;
  position: absolute;
  right: 10px;
  top: 80px;
  background-color: rgb(80, 4, 80);
  color: white;
  text-align: center;
  border-radius: 2px;
}
.info {
  display: block;
}
.account-info p {
  padding: 0 5px;
}
.account-info button {
  margin-bottom: 5px;
}
.main-sect {
  height: 500px;
}
