* {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: rgb(241, 250, 247);
}
.main-sect {
  /* height: 1000px; */
  padding: 20px 100px;
  margin-top: 40px;
}
.main-sect .div1 {
  background-color: white;
  text-align: center;
  width: 600px;
  margin: auto;
  border-radius: 5px;
  padding: 10px 20px;
}
.main-sect-header {
  text-align: center;
  margin-top: 80px;
  color: rgb(110, 44, 110);
  font-size: 30px;
  width: 600px;
  margin: auto;
}
.div1 p {
  font-size: 18px;
  line-height: 30px;
}
