body {
  background-color: rgb(241, 250, 247);
}
.sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-top: 100px;
}
.signup-page {
  /* width: 600px; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: white;
  padding: 50px 100px;
  font-size: 18px;
  border-radius: 5px;
  color: rgb(77, 14, 136);
}
.signup-page div {
  display: flex;
  justify-content: left;
  align-items: center;
}
.signup-page input::placeholder {
  font-size: 15px;
}
.signup-btn {
  background-color: rgb(164, 207, 164);
  padding: 5px 15px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}
